.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  padding: 10rem 10rem 0;

  @media screen and (max-width: 1200px) {
      padding: 8rem 2.4rem 0rem;
    }

  @media screen and (max-width: 900px) {
      flex-direction: column;
  }
  
  @media screen and (max-width: 550px) {
      padding: 8rem 1.5rem 0rem;
      gap: 32px;
    }
}

.feature-img {
  flex: 1;
  width: 33.75rem;
  height: 35rem;
  border-radius: 8px;
  background: rgba(241, 241, 241, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
      width: 100%;
      max-height: 352px;
      object-fit: contain;
  }

  @media screen and (max-width: 900px) {
      width: 100%;
      height: 100%;
      padding: 41px 0 68px;

      img {
          width: 30%;
          height: 30%;
          object-fit: contain;
      }
  }

  @media screen and (max-width: 550px) {
      height: 352px;
      width: 100%;

      img {
          width: 80%;
          height: 100%;
          object-fit: contain;
      }
  }
}

.feature-content {
  flex: 1;

  h6 {
      color: rgba(216, 125, 74, 1);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 10px;
      margin-bottom: 16px;
  }

  h1 {
      width: 27.8rem;
      color: rgba(0, 0, 0, 1);
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 1.43px;
      line-height: 44px;
      text-transform: uppercase;
      margin-bottom: 32px;
  }

  p {
      width: 27.8rem;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      opacity: 50%;
      margin-bottom: 40px;
  }

  button {
      width: 160px;
      height: 48px;

      border: none;

      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 1px;
      background-color: rgba(216, 125, 74, 1);

      &:hover {
          background-color: rgba(251, 175, 133, 1);
      }
  }

  @media screen and (max-width: 900px) {
      text-align: center;
  }

  @media screen and (max-width: 550px) {
      h1 {
          width: 100%;
          font-size: 28px;
          line-height: 38.25px;
          letter-spacing: 1px;
      }

      p {
          width: 100%;
      }
  }
}