
.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro {
  background-color: rgba(0, 0, 0, 1);
}

.Product-header {
    margin: 0 10rem;
    height: 239px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    h1 {
      font-weight: 700;
      font-size: 2.5rem;
      letter-spacing: 1.43px;
      color: rgba(255, 255, 255, 1);
    }
  
    background-color: rgba(0, 0, 0, 1);
  
    @media screen and (max-width: 550px) {
      border: none;
      h1 {
        font-size: 1.75rem;
        letter-spacing: 2px;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
  
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  
  .margin {
    margin-bottom: 120px;

    @media screen and (max-width: 900px) {
      margin-bottom: 96px;
    }
  }